<ol>
  <% _.each(model.modelsForWeek(date), function(entry) { 
    var d = entry.get('date').toDataString(); %>
    <li>
      <%= I18n.l('date.formats.dayDay', d) %>

      <input type="radio" name="entry_join_<%=d%>" date-id="<%=entry.id%>" data-date="<%=d%>" value="" />?
      <input type="radio" name="entry_join_<%=d%>" date-id="<%=entry.id%>" data-date="<%=d%>" value="1" />Ja
      <input type="radio" name="entry_join_<%=d%>" date-id="<%=entry.id%>" data-date="<%=d%>" value="0" />Nee
      
    </li>
  <% }) %>
</ol>